<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @reservation.book_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @reservation.client_id %>
</p>

<p>
  <strong>Librarian:</strong>
  <%= @reservation.librarian_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reservation.status %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>

<h1>Menu</h1>
<li><%= link_to "Livros", books_path %></li>
    <li><%= link_to "Autores", authors_path %></li>
    <li><%= link_to "Clientes", clients_path %></li>
    <li><%= link_to "Bibliotecários", librarians_path %></li>
    <li><%= link_to "Reservas", reservations_path %></li>
